@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --nintendoRed: #e60012;
  --nintendoRedHover: #bf0010;
  --white: #fafafa;
  --yellow: #e2f20d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Nunito", sans-serif;
}

body{
  overflow: hidden;
}


.mainContainer {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
      circle,
      rgba(4, 4, 4, 0.2) 20%,
      rgba(4, 4, 4, 0.5) 80%
    ),
    url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*background-attachment: fixed;*/
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em 2em 4em;
}

.navbar .logo {
  width: 240px;
}

.navbar .logo .logoImage {
  width: 100%;
  transition: all ease 0.3s;
}
.navbar .logo .logoImage:hover {
  filter: drop-shadow(0 0 4px #fff);
}

.navbar .navLinks {
  display: flex;
  gap: 2.2em;
}

.navLinks .navLink {
  padding: 6px 16px;
  background: transparent;
  border: 1px transparent;
  border-radius: 25px;
  transition: all ease .5s;
}
.navLinks .navLink:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navLinks .navLink i {
  margin-left: 4px;
}

.navLinks .navLink a {
  color: var(--white);
  font-size: 1.1em;
  font-weight: 600;
}

.navLinks .navLink:first-child {
  background: var(--nintendoRed);
}
.navLinks .navLink:first-child:hover {
  background: var(--nintendoRedHover);
}

.menu{
  display: none;
  text-align: center;
  border: solid red;
  padding: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}
.menu:active{
  background: var(--nintendoRed);
}

.downloadButton {
  border: solid white;
  margin-top: 30vh;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--white);
  background: var(--nintendoRed);
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: all ease 0.5s;
}
.downloadButton:hover {
  background: var(--nintendoRedHover);
  transform: scale(1.1);
}

.downloadButton i {
  margin-left: 8px;
}

.countdownText {
  font-weight: 600;
  color: var(--white);
  display: none;
  text-align: center;
}

.countdownText span,
.manualDownloadLink {
  color: var(--yellow);
  font-size: 1.4em;
  font-weight: 700;
  transition: all ease 0.2s;
}

.pleaseWaitText {
  font-weight: 600;
  color: var(--white);
  display: none;
  text-align: center;
}

.manualDownloadText {
  font-weight: 600;
  color: var(--white);
  display: none;
  text-align: center;
}

.manualDownloadLink:hover {
  color: var(--white);
  text-shadow: 0 0 2px var(--white);
}


/* breakpoints */

/* laptop */
@media(max-width: 998px){

  .navbar{
    padding: 2em;
  }

}

/* tablets y ipads */
@media(max-width: 768px){

  .navbar{
    padding: 1.6em;
  }

  .navbar .logo{
    width: 220px;
  }

  .navbar .navLinks{
    display: hidden;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    background: var(--nintendoRedHover);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all ease .3s;
    z-index: 1000;
  }
  .navbar .navLinks.open{
    right: 0;
  }
  
  .navbar .navLinks .navLink{
    display: block;
  }

  .menu{
    display: block;
    z-index: 10001;
  }

  .downloadButton{
    font-size: 1.2em;
  }

  .countdownText, .pleaseWaitText, .manualDownloadText{
    margin: 0 1.5em;
  }
  
  .countdownText{
    font-size: 1.5em;
  }

  .pleaseWaitText{
    font-size: 1.2em;
  }

  .manualDownloadText{
    font-size: 1.5em;
    margin-top: 1em;
  }

  .countdownText span,
  .manualDownloadLink{
    font-size: 1.1em;
  }
}

/* móviles */
@media(max-width:480px){

  .navbar .logo{
    width: 200px;
  }

  .manualDownloadLink{
    font-size: 1em;
  }

}

/* móviles pequeños */
@media(max-width: 320px){

  .navbar{
    padding: 2em 1.2em;
  }

  .navbar .logo{
    width: 160px;
  }

  .navbar .navLinks{
    width: 70%;
  }
  .downloadButton{
    font-size: 1em;
  }
}