@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --nintendoRed: #e60012;
  --nintendoRedHover: #bf0010;
  --white: #fafafa;
  --yellow: #e2f20d;
  --blue: #000a63;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(
      circle,
      rgba(4, 4, 4, 0.2) 20%,
      rgba(4, 4, 4, 0.5) 80%
    ),
    url(./img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em 2em 4em;
  z-index: 999;
  position: relative;
}

.navbar .logo {
  width: 240px;
}

.navbar .logo .logoImage {
  width: 100%;
  transition: all ease 0.3s;
}
.navbar .logo .logoImage:hover {
  filter: drop-shadow(0 0 4px #fff);
}

.navbar .navLinks {
  display: flex;
  gap: 2.2em;
  z-index: 1000;
}

.navLinks .navLink {
  padding: 6px 16px;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 25px;
  transition: all ease 0.5s;
}
.navLinks .navLink:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.navLinks .navLink i {
  margin-left: 4px;
}

.navLinks .navLink a {
  color: var(--white);
  font-size: 1.1em;
  font-weight: 600;
}

.navLinks .navLink:first-child {
  background: var(--nintendoRed);
}
.navLinks .navLink:first-child:hover {
  background: var(--nintendoRedHover);
}

.menu {
  z-index: 10000;
  display: none;
  text-align: center;
  border: solid red;
  padding: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}
.menu:active {
  background: var(--nintendoRed);
}

.downloadButton {
  border: solid white;
  margin-top: 30vh;
  padding: 12px 24px;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--white);
  background: var(--nintendoRed);
  border-radius: 25px;
  border: none;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  transition: all ease 0.5s;
}
.downloadButton:hover {
  background: var(--nintendoRedHover);
  transform: scale(1.1);
}

.downloadButton i {
  margin-left: 8px;
}

.countdownText {
  font-weight: 600;
  color: var(--white);
  display: none;
  text-align: center;
}

.countdownText span,
.manualDownloadLink {
  color: var(--yellow);
  font-size: 1.4em;
  font-weight: 700;
  transition: all ease 0.2s;
}

.pleaseWaitText {
  font-weight: 600;
  color: var(--white);
  display: none;
  text-align: center;
}

.manualDownloadText {
  font-weight: 600;
  color: var(--white);
  display: none;
  text-align: center;
}

.manualDownloadLink:hover {
  color: var(--white);
  text-shadow: 0 0 2px var(--white);
}

/* personajes */

.charactersContainer {
  background: rgb(191,0,16);
  background: radial-gradient(circle, rgba(191,0,16,1) 0%, rgba(48,12,155,1) 100%), url(./img/rainbow.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em 6em;
  text-align: center;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

.characters {
  margin: 2em auto;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 15px);
  gap: 1.3em;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
.charactersContainer .charactersTitle{
  font-weight: 700;
  color: var(--white);
  font-size: 2em;
}
.character {
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  text-align: center;
  gap: 8px;
  cursor: pointer;
  transition: all ease-in-out 1s;
  color: var(--white);
  background: rgb(230, 0, 18);
  background: radial-gradient(
    circle,
    rgba(230, 0, 18, 0.5) 0%,
    rgba(191, 0, 16, 1) 100%
  );
  box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.3);
  scroll-snap-align: start;
}
.character:hover {
  background: rgb(191,0,16);
  background: radial-gradient(circle, rgba(191,0,16,1) 0%, rgba(0,10,99,1) 100%); 
}
.characters:hover > :not(:hover) {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  opacity: 0.5;
}

.character .name {
  font-weight: 700;
  font-size: 1.5em;
}

.character span {
  display: inline-block;
  background: var(--nintendoRed);
  padding: 6px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--white);
}

.characters .character .characterImage {
  width: 200px;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.charactersContainerButtons {
  display: flex;
  text-align: center;
  gap: 2em;
  justify-content: center;
}

.charactersContainerButtons button {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: var(--nintendoRed);
  color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease 0.5s;
}
.charactersContainerButtons button:hover {
  background: var(--nintendoRedHover);
}
.charactersContainerButtons button:active {
  background: black;
  border: 1px solid var(--white);
}

.goUp{
  position: fixed;
  right: 2em;
  bottom: 2em;
  width: 3.2em;
  height: 3.2em;
  border: 1px solid var(--white);
  border-radius: 50%;
  background: var(--nintendoRed);
  color: var(--white);
  border: 1px solid transparent;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  visibility: hidden;
}
.goUp i{
  font-size: 1.2em;
}
.goUp:hover{
  background: var(--nintendoRedHover);
}

/* filtro de imagenes */

/* copa champiñón */
#mushroom:checked ~ .circuitsImages .flowerCup, #mushroom:checked ~ .circuitsImages .starCup, #mushroom:checked ~ .circuitsImages .specialCup{
  transition: all ease .8s;
  opacity: .2;
}

/* copa flor */
#flower:checked ~ .circuitsImages .mushroomCup, #flower:checked ~ .circuitsImages .starCup, #flower:checked ~ .circuitsImages .specialCup{
  transition: all ease .8s;
  opacity: .2;
}

/* copa estrella */
#star:checked ~ .circuitsImages .mushroomCup, #star:checked ~ .circuitsImages .flowerCup, #star:checked ~ .circuitsImages .specialCup{
  transition: all ease .8s;
  opacity: .2;
}

/* copa especial */
#special:checked ~ .circuitsImages .mushroomCup, #special:checked ~ .circuitsImages .flowerCup, #special:checked ~ .circuitsImages .starCup{
  transition: all ease .8s;
  opacity: .2;
}

/* breakpoints */

/* laptop */
@media (max-width: 998px) {
  .navbar {
    padding: 2em;
  }

  .characters{
    grid-auto-columns: calc(100% / 3 - 12px);
  }
}

/* tablets y ipads */
@media (max-width: 768px) {
  .navbar {
    padding: 1.6em;
  }

  .navbar .logo {
    width: 220px;
  }

  .navbar .navLinks {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: -100%;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    background: var(--nintendoRedHover);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all ease 0.3s;
  }
  .navbar .navLinks.open {
    right: 0;
    visibility: visible;
  }

  .navbar .navLinks .navLink {
    display: block;
  }

  .menu {
    display: block;
  }

  .downloadButton {
    font-size: 1.2em;
  }

  .countdownText,
  .pleaseWaitText,
  .manualDownloadText {
    margin: 0 1.5em;
  }

  .countdownText {
    font-size: 1.5em;
  }

  .pleaseWaitText {
    font-size: 1.2em;
  }

  .manualDownloadText {
    font-size: 1.5em;
    margin-top: 1em;
  }

  .countdownText span,
  .manualDownloadLink {
    font-size: 1.1em;
  }

  .characters{
    grid-auto-columns: calc(100% / 2 - 9px);
  }

}

/* móviles */
@media (max-width: 480px) {
  .navbar .logo {
    width: 200px;
  }

  .manualDownloadLink {
    font-size: 1em;
  }

  .characters{
    grid-auto-columns: 100%;
  }
}

/* móviles pequeños */
@media (max-width: 320px) {
  .navbar {
    padding: 2em 1.2em;
  }

  .navbar .logo {
    width: 160px;
  }

  .navbar .navLinks {
    width: 70%;
  }
  .downloadButton {
    font-size: 1em;
  }
}
